# House Market

Let's go a little further into python.

1. Download the four files “superficie.csv” / “nombre_de_sdb.csv” / “nombre_de_chambres.csv” / "house_price.csv"

2. Read the files and create the 4 corresponding Dataframes

In [1]:
import pandas as pd

In [17]:
df_surface=pd.read_csv('house_market/superficie.csv', names=['id','surface'])
df_bathroom=pd.read_csv('house_market/nombre_de_sdb.csv', names=['id','bathrooms'])
df_rooms=pd.read_csv('house_market/nombre_de_chambres.csv', names=['id','rooms'])
df_price=pd.read_csv('house_market/house_price.csv',index_col=0 )

In [18]:
display(df_surface.head(4))
display(df_bathroom.head(4))
display(df_rooms.head(4))
display(df_price.head(4))

   id  surface
0   0    28844
1   1    27667
2   2    14742
3   3    28089

   id  bathrooms
0   0          2
1   1          1
2   2          1
3   3          3

   id  rooms
0   0      1
1   1      4
2   2      1
3   3      4

   id  house_price
0  14    1918154.0
1  30     739142.0
2  70    1621938.0
3  77    1319862.0

3. Give a column name to the three datasets that don't have a header in the source file

4. Make an inner join of these four datasets into a single dataframe.

In [25]:
df_1=pd.merge(left=df_rooms, right=df_surface, how="inner", on ='id')
df_2=pd.merge(left=df_bathroom, right=df_price, how="inner", on ='id')
df_data=pd.merge(left=df_1, right=df_2, how="inner", on ='id')

In [26]:
display(df_data)

    id  rooms  surface  bathrooms  house_price
0    0      1    28844          2    1421908.0
1    1      4    27667          1    1305091.0
2    2      1    14742          1     164373.0
3    3      4    28089          3    1441714.0
4    4      2    11713          1     108290.0
..  ..    ...      ...        ...          ...
95  95      3    11417          3     132599.0
96  96      2    12126          1     155828.0
97  97      2    16390          1     237061.0
98  98      2    23738          1     976422.0
99  99      2    14613          2     183621.0

[100 rows x 5 columns]

5. What is the average surface area of the houses in our dataset?

In [28]:
df_data['surface'].mean()
#df_data.groupby('id')['surface'].sum().mean()

20439.77

6. What is the median and average number of rooms?

In [31]:
display(df_data['rooms'].mean())
display(df_data['rooms'].median())
#display(df_data.groupby('id')['rooms'].sum().agg(['mean','median']))

2.42

2.0

mean      2.42
median    2.00
Name: rooms, dtype: float64

7. What is the average cost of a house?

In [32]:
df_data['house_price'].mean()

767747.87

8. What is the average cost of a house, depending on the number of rooms it has?

In [33]:
df_data.groupby('rooms')['house_price'].mean()

rooms
1    980774.869565
2    642086.258065
3    645904.592593
4    888045.631579
Name: house_price, dtype: float64

10. The average cost per room doesn't tell us much. Let's try to categorize by size.

  - Create a new column in your dataset that we'll call home_size
Create five categories that respectively correspond to:
      - "very large" $=$ "a house larger than 25,000 sqrt_feet"
      - "large" $=$ "a house between 20,000 and 25,000 sqrt_feet"
      - "medium" $=$ "a house between 15,000 and 20,000 sqrt_feet"
      - "small" $=$ "a house between 10,000 and 15,000 sqrt_feet"
      - "very small" $=$ a house less than 10,000 sqrt_feet"

Fill in the corresponding rows in the house_size column.

In [40]:
def calc_size(x) :
    
    if x < 10000 :
        l_size="very small"
    elif x < 15000 :
        l_size="small"
    elif x < 20000 : 
        l_size="medium"
    elif x < 25000 : 
        l_size="large"
    else : 
        l_size="very lage"
    return l_size
df_data["home_size"]=df_data['surface'].apply(calc_size)

display(df_data)

    id  rooms  surface  bathrooms  house_price  home_size
0    0      1    28844          2    1421908.0  very lage
1    1      4    27667          1    1305091.0  very lage
2    2      1    14742          1     164373.0      small
3    3      4    28089          3    1441714.0  very lage
4    4      2    11713          1     108290.0      small
..  ..    ...      ...        ...          ...        ...
95  95      3    11417          3     132599.0      small
96  96      2    12126          1     155828.0      small
97  97      2    16390          1     237061.0     medium
98  98      2    23738          1     976422.0      large
99  99      2    14613          2     183621.0      small

[100 rows x 6 columns]

11. What is the average cost of a house depending on its size category?

In [41]:
df_data.groupby('home_size')['house_price'].mean()

home_size
large        7.325385e+05
medium       3.256948e+05
small        1.561387e+05
very lage    1.552456e+06
Name: house_price, dtype: float64

 12. Apply the code below to view your result. What can you conclude?

In [43]:
import plotly.express as px
fig = px.scatter(df_data, x = "surface", y = "house_price", trendline = "ols")
fig.show()

Plus un appart est grand plus il est cher : tendance à la hausse.